*       text    eol=lf
*.exe   binary
*.png   binary
*.jpg   binary
*.jpeg  binary
*.ico   binary
*.icns  binary
*.eot   binary
*.otf   binary
*.ttf   binary
*.woff  binary
*.woff2 binary

# Office documents and archives are binary (override "* text eol=lf")
*.pptx  binary
*.docx  binary
*.xlsx  binary
*.kpres binary
*.zip   binary
