*.mp4 binary
*.mov binary
*.avi binary
*.mkv binary
*.webm binary
*.wmv binary
*.flv binary
*.m4v binary
*.3gp binary
*.ogv binary

*.jpg binary
*.jpeg binary
*.png binary
*.gif binary
*.bmp binary
*.tiff binary
*.svg binary
*.ico binary
*.webp binary

*.pdf binary
*.zip binary
*.tar binary
*.gz binary
*.rar binary
*.7z binary

*.mp3 binary
*.wav binary
*.flac binary
*.aac binary
*.ogg binary
*.wma binary

*.exe binary
*.dll binary
*.so binary
*.dylib binary
*.app binary

*.ttf binary
*.otf binary
*.woff binary
*.woff2 binary
*.eot binary

*.db binary
*.sqlite binary
*.sqlite3 binary

*.pem binary
*.key binary
*.crt binary
*.p12 binary
*.pfx binary 